<h2>Worker Dashboard</h2>

<p>Welcome Worker 👷</p>

<hr>

<a href="/jobs">View Available Jobs</a><br><br>
<a href="/my-jobs">My Applications</a>

<hr>

<h3>Availability Status</h3>

<form action="/toggle-availability" method="POST">
  <button type="submit">Toggle Availability</button>
</form>